# Local database with tokens & user IDs
user.db
.env
favorites.json
self_image/

# Runtime data
lavender_images/
lavender_memory/
lavender_moments/
lavuserdata/
/lavuserdata/
/lavuserdata/**

# Virtual environment
.venv/
.venv-1/
.venv-1-broken-*/

# Python cache
__pycache__/
*.pyc
